<% session[:cart].each_pair do |product,quantity| %>
    <div>
        <% 1.upto(quantity) do |i| %>
            <%= image_tag "product#{product}.png", :class => 'cart-items', 
                :id => "item_#{quantity}_#{i}",
                :style => 'position:relative' 
            %>
        <% end %>
        (<%= "#{quantity} #{@products[product]} "%>)
    </div>
<% end %>

<% if session[:cart].blank? %>
    nothing yet in your shopping cart.	
<% end %>
